# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.vscode
/build
/OpenCV/Teste/CMakeFiles
/OpenCV/Teste/out


# Executables
*.swf
*.air
*.ipa
*.apk
/build
/OpenCV/Teste/CMakeFiles
/OpenCV/Teste/out
*.json
